/* ============================================= */
/*              Variables                        */
/* ============================================= */

// Colors

$color-primary: #58e1c1;
$color-secondary: #51ddfc;
$text-color: #777;
$button-color-1: #63cc82;
$button-color-2: #e4757a;
$button-color-3: #fd7856;
$button-color-4: #927bc1;

$color-primary-light: lighten($color-primary, 15%);
$color-primary-dark: darken($color-primary, 15%);

// Media-query breakpoints

$break-wide: 768px;